<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <style>
        .main {
            margin: 0 auto;
        }
    </style>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h3 class="text-center">Ooops... Error</h3>
            <hr>
        </div>

        <div class="col-md-12 mt-3">
            <div class="main col-md-6 mt-3">
                <div class="alert alert-warning" role="alert">
                    <span th:text="${errorMessage}"></span>
                </div>

                <a href="/view" class="btn btn-primary text-left">Back to Home</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>